<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/packStyle.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/action.js"></script>
</head>

<body>
    <div class="boxMainBody">
        <div class="boxHeader">
            <%= title %>
        </div>
        <div class="boxContain">
            <div class="boxMenu">
                <%- include('./mainMenu') -%>
            </div>
            <div class="boxArticle" id="getData">
                <div class='boxTitleName'><%= titleName %></div>
                <div class='boxStock'>
                    <ul>
                        <li>
                            <span>ลำดับ</span>
                            <span>ชื่อสินค้า</span>
                            <span>ราคาต้นทุน(เฉลี่ย)</span>
                            <span>ราคาขายเงินสด</span>
                            <span>ราคาขายเงินเชื่อ</span>
                            <span>จำนวนคงเหลือ</span>
                        </li>
                        <% for( let i = 0; i < data.length; i++ ) { %>
                        <li>
                            <span><%= i+1 %></span>
                            <span><%= data[i].name_product %></span>
                            <span><%= data[i].stock_cost.toFixed(2) %></span>
                            <span><%= data[i].cradit %></span>
                            <span><%= data[i].cash %></span>
                            <span><%= data[i].stock_unit %></span>
                        </li>
                        <% } %>

                    </ul>
                </div> <!-- DATALOAD ARTICLES-->
                <!--<div class="boxArticle">Articles</div> -->
            </div>
        </div>
</body>

</html>